$color-brand: #328189;
$color-brand-light: rgba(50, 129, 137, 0.3);
$color-info-bg: #BAE4EB33;
$color-text: #545454;
$color-stock: #FFC304;
$color-secondary: #C2E3EA;
$color-terciary: #592BC7;
$color-gray: #D0C8EA80;

body{
  font-family: 'Montserrat', sans-serif !important;
}

.container {
    @media (min-width: 1200px) {
        max-width: 1320px; // Aumentar el ancho estándar
    }
}

@import "main";
@import "product-card";
@import "sidebar-category";
@import "pagination";
@import "footer";
@import "header";
@import "product-page";