.product-miniature {
  width: 312px;
  height: 416px;
  margin-bottom: 24px;
  border: 1px solid $color-brand-light;
  border-radius: 8px; // Un pequeño radio para suavizar
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #fff;
  margin: 0 18px 30px 0 !important;
  max-width: 312px; 

  .thumbnail-container {
    width: 312px;
    height: 312px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;

    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }

    // Etiquetas (Nuevo / Agotado)
    .badge {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 6px 10px;
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
      border-radius: 4px;
      
      &-new {
        background-color: $color-brand;
        color: #fff;
      }
      &-out-of-stock {
        background-color: $color-stock;
        color: #fff;
      }
    }
  }

  .product-description {
    width: 312px;
    height: 104px;
    background-color: #BAE4EB33; // Tu color específico
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .product-title {
      margin: 0;
      a {
        color: $color-text;
        font-size: 15px;
        font-weight: 500;
        text-decoration: none;
        line-height: 1.2;
        // Limitar a 2 líneas para no romper el diseño
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    .product-price-and-shipping {
      display: flex;
      align-items: center;
      gap: 10px;

      .price {
        color: $color-brand;
        font-weight: 700;
        font-size: 18px;
      }

      .regular-price {
        color: #999;
        text-decoration: line-through;
        font-size: 14px;
      }

      .discount-percentage {
        background: #e1d8f1;
        color: #7d5ab5;
        width: 58px;
        height: 27px;
        text-align: center;
        padding: 2px 6px;
        border-radius: 10px;
      }
    }
  }
}

.products-list {
    display: flex;
    flex-wrap: wrap;
    
    .product-miniature {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
        .thumbnail-container {
            width: 100%;
            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 767px) {
    #btn-open-sidebar {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#js-product-list {
    .products-list.row {
        justify-content: center;
    }
    
    .product-miniature {
        padding-left: 5px;
        padding-right: 5px;
    }
}
